#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background:linear-gradient(rgb(21, 207, 61) 0%, rgb(207, 49, 212) 100%);
}
h1{
    color : white;
}